body {
	padding: 10px;
}

#listing {
	min-height: 15em;
}

a.badge {
	text-decoration: none;
}

img.card-img {
	max-height: 15em;
	object-fit: contain;
}

.view-button {
	border-radius: 4px;
	background-color: #0d6efd;
	color: white;
	border: none;
	padding: 20px;
	width: 200px;
	transition: all 0.5s;
}

.view-button span {
	cursor: pointer;
	display: inline-block;
	position: relative;
	transition: 0.5s;
}

.view-button span:after {
	content: '»';
	position: absolute;
	opacity: 0;
	top: 0;
	right: -20px;
	transition: 0.5s;
}

.view-button:hover span {
	padding-right: 25px;
}

.view-button:hover span:after {
	opacity: 1;
	right: 0;
}
