{% extends "auctions/layout.html" %} {% block body %}

<div class="container">
	<h2>Login</h2>

	{% if message %}
	<div class="mb-3">
		<p class="fs-5 badge bg-warning text-dark">{{message}}</p>
	</div>
	{% endif %}

	<form action="{% url 'login' %}" method="post">
		{% csrf_token %}
		<div class="form-floating mb-3">
			<input
				type="text"
				autofocus
				class="form-control"
				id="username"
				name="username"
				placeholder="Username"
			/>
			<label for="username">Username</label>
		</div>
		<div class="form-floating mb-3">
			<input
				type="password"
				class="form-control"
				id="password"
				name="password"
				placeholder="Password"
			/>
			<label for="password">Password</label>
		</div>
		<input class="btn btn-primary" type="submit" value="Login" />
	</form>

	Don't have an account?
	<a href="{% url 'register' %}">Register here.</a>
</div>
{% endblock %}
